asgiref
datetime
Django
dj-database-url
django-cors-headers
django-environ
fitz
frontend
gunicorn
Jinja2
MarkupSafe
mysqlclient
waitress
whitenoise
nltk
openai
pdf2image
psycopg2
Pillow
PyMuPDF
PyPDF2
pytesseract
python-dateutil
pytz
sqlparse
tools
typing_extensions
tzdata