{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAi Ganio</title>
    <link rel="icon" type="image/x-icon" href="../core/css/icons8-idea.svg">
    <link rel="stylesheet" href="../static/core/test_list.css">
</head>

<h2>All Tests</h2>

{% for subject in subjects %}
<h3>{{ subject.name }}</h3>
<ul>
    {% for test in subject.tests.all %}
    <li>
        <strong>{{ test.title }}</strong>
        <a href="{% url 'core:take_test' test.id %}">Take Test</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}