{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BAi Ganio</title>
  <link rel="icon" type="image/x-icon" href="../core/css/icons8-idea.svg">
  <link rel="stylesheet" href="{% static 'core/css/ranking.css' %}">


<body>
  <div class="container">
    <!-- Header Section -->
    <header class="header">
      <div class="header-logo">bAIganio</div>
      <div class="header-streak">
        <img src="{% static 'core/css/icons8-fire-48.png' %}?v=2" alt="Flame Icon" class="nav-icon" />
        <span class="streak-number">{{ streak }}</span>
      </div>
    </header>

    <!-- Main Content Section -->
    <div class="main-content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <ul class="nav-list">
          <li>
            <a href="{% url 'dashboard' %}" class="nav-item">
              <img src="{% static 'core/css/home.png' %}?v=2" alt="Home Icon" class="nav-icon" />
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="{% url 'ranking' %}" class="nav-item active">
              <img src="{% static 'core/css/ranking.png' %}?v=2" alt="Ranking Icon" class="nav-icon" />
              <span>Ranking</span>
            </a>
          </li>
          <li>
          <li>
            <a href="{% url 'test_textbook' %}" class="nav-item">
              <img src="{% static 'core/css/icons8-test-48.png' %}?v=2" alt="Tests Icon" class="nav-icon">
              <span>Tests</span>
            </a>
          </li>
          </li>
          <li>
            <a href="{% url 'profile' %}" class="nav-item">
              <img src="{% static 'core/css/profile.png' %}?v=2" alt="Profile Icon" class="nav-icon" />
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </aside>

      <section class="content">
      <div class="ranking-container">
          <div class="ranking-card">
            <h2>Welcome, <span class="username">{{ username }} <br> You have {{ points }} points</span>!</h2>
            <div class="leaderboard">
              <h3>Leaderboard</h3>
              <ul class="leaderboard-list">
                {% for ranking in rankings %}
                <li class="leaderboard-item">
                  <span class="rank">{{ forloop.counter }}.</span>
                  <span class="username">{{ ranking.username }}</span>
                  <span class="score">{{ ranking.score }} points</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
    </section>
</body>

</html>