body {
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  color: #3d0066;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100rem;
  margin: auto;
  padding: rem;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d0066;
  color: #ffffff;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 6.25rem 1.25rem;
  background-color: #eec7fc;
  margin-top: 1.25rem;
}

.hero h1 {
  padding-top: 1rem;
  font-size: 3rem;
  margin-bottom: 0.625rem;
  color: #3d0066;
  justify-content: center;
}

.hero p {
  font-size: 1.25rem;
  color: #c670ff;
  margin-bottom: 1.25rem;
}

.hero img {
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 10rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 8rem;
}

.primary, .secondary {
  background: #f8e16f;
  color: #3d0066;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  background-color: #f8e16f;
  color: #3d0066;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(135deg, #f8e16f, #ffe047);
  animation: pulse 2s infinite;
  width: 12rem; /* Ensures both buttons have the same width */
  text-align: center;
}

.primary:hover, .secondary:hover {
  font-size: 1.5rem;
  background: #ffffff;
  color: #3d0066;
  animation-play-state: paused;
  background-image: none;
  transform: scale(1.1);
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.features {
  display: flex;
  justify-content: space-around;
  margin: 3.125rem 0;
}

.feature-card {
  background-color: #ffffff;
  padding: 1.25rem;
  border: 1px solid #eec7fc;
  border-radius: 0.625rem;
  text-align: center;
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  width: 30%;
  color: #3d0066;
}

.feature-card img {
  width: 7rem;
  height: 8rem;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  padding: 1.25rem;
  background-color: #3d0066;
  color: #ffffff;
  border-radius: 0.625rem;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffe047;
}
